<ng-include src="submenu_template"></ng-include>
<div class="content">
	<!-- TODO: add ng-model to the form -->
	<!-- TODO: add validation to the form -->
	<form name="boardSettings">
		Board name
		<input type="text" class="board-name" name="boardName">
		<p>
		<input type="radio" class="board-type-radio" value="public">  public board
		<input type="radio" class="board-type-radio" value="private">  private board
		<input type="radio" class="board-type-radio" value="class">  class board
		</p>
		Class ID
		<input type="text" name="classId">
		<div>
			Users
			</br>
			<!-- TODO: ng-repeat for list of users -->
			Existing user list
		</div>
		<input type="text" name="username"> <button>Add user</button>
	</form>
</div>