<div class="left animate-switch-container" ng-switch on="cname">
    <div class="animate-switch" ng-switch-when="profile">
		<div>Mute all boards</div>
		<div>Change display name</div>
	</div>
    <div class="list-group" ng-switch-when="board">
        <div class="list-group-item list-group-item-success active" ng-click="add_post()">
            New Post
        </div>
    	<a href="" class="list-group-item" ng-click="go('/board_settings')">
            Settings
        </a>
    </div>
    <div class="animate-switch" ng-switch-when="create_board">
    	<div>Create board</div>
    </div>
    <div class="animate-switch" ng-switch-when="board_settings">
    	<div>Save changes</div>
        <div>Add post</div>
    </div>
    <div class="animate-switch" ng-switch-default></div>
</div>